html, body {
	margin : 0;
	padding : 0;
	height : 100%;
	width : 100%;
	font-family: Verdana, sans-serif;
	color : black;
	background: #241C1F;

}

p {
	font-size : 12px;
}
h1 {
	font-size : 32px;
}

h2 {
	font-size : 18px;
}

td {
	font-size : 12px;
}


#hlavniram {
    position: relative;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    background-color: #241C1F;

}

#hlavniram #hlavicka {
	position: absolute;

        height : 90px;
	width: 900px;


}

#hlavniram #hlavicka #logo {
        position: absolute;
	bottom: 0px;
	left: 0px;

}

#hlavniram #hlavicka #top_menu {
        position: absolute;
	bottom: 20px;
	right: 0px;
    
}

#hlavniram #hlavicka #top_menu a {
    display: inline-block;
    padding: 15px 15px 0px 15px;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    color: #C8B7BE;    
}

#hlavniram #hlavicka #top_menu a.aktivni {background : url(img/top-b.png) repeat-x; color: white;}

#hlavniram #hlavicka #top_menu a:hover {background : url(img/top-b.png) repeat-x; color: white;}

#hlavniram #hlavicka #banner {
        position: absolute;
	top: 100px;

}

#hlavniram #hlavicka #pruh {
        position: absolute;
	top: 230px;

}

#hlavniram #hlavicka .nadpis {
	position: absolute;
        font-style: italic;
	top:-5px;
	left: 20px;
	color: white;

}

#hlavniram #obsah {
	position: relative;
	top: 295px;
	width: 900px;
	background: white;
}


#obsah .text {
	font-family: Verdana, sans-serif;
	position: relative;
	margin: 10px 20px 20px 20px;
	padding: 20px 20px 20px 20px;
	background-color: white;
}

#obsah .text li {    font-size : 12px; 
}


#obsah .text p.obrazky {
	text-align: center;
}

#obsah .text .obrazek {
        border: 1px solid #464646;
        margin: 5px 5px 5px 5px;
}

#obsah #paticka {
        position: absolute;
	bottom: 0px;
	color: #E3DBDE;
	background : black url(img/paticka.png);	
	margin : 0 auto;
	text-align : center;
	padding-top : 5px;
	padding-bottom : 5px;
	width : 900px;
	font-size : 10px;
}


